
.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 99;
}

.z-in{
  z-index:10;
}

.tit-icon{
	flex-shrink: 0;
	width: 64upx;
	height: 64upx;
	margin-left: 10px;
}

.tit-bar{
	left:20upx;
	position: absolute;
}
	
.b-f {
  background: #fff;
}

.tf-180 {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.tf-90 {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.dis-box {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-box !important;
  display: box !important;
}

.box-flex {
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  display: block;
  width: 85%;
}

.dis-flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-box {
  flex: 1;
}

.flex-five {
  box-sizing: border-box;
  flex: 0 0 50%;
}

.flex-three {
  float: left;
  width: 33.3%;
}

.flex-four {
  box-sizing: border-box;
  flex: 0 0 25%;
}

.t-l {
  text-align: left;
  display: block;
}

.t-c {
  text-align: center;
  display: block;
}

.t-r {
  text-align: right;
  display: block;
}

.p-a {
  position: absolute;
}

.p-r {
  position: relative;
}

.p-s{
  position: -webkit-sticky;
  position:sticky;
}

.oh {
  overflow: hidden;
}

.tb-lr-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.f-34 {
  font-size: 34rpx;
}

.f-32 {
  font-size: 32rpx;
}

.f-31 {
  font-size: 31rpx;
}

.f-30 {
  font-size: 30rpx;
}

.f-28 {
  font-size: 28rpx;
}

.f-26 {
  font-size: 26rpx;
}

.f-24 {
  font-size: 24rpx;
}

.f-22 {
  font-size: 22rpx;
}

.f-01 {
  font-size: 0.8rem;
}

.f-02 {
  font-size: 0.9rem;
}

.f-03 {
  font-size: 1rem;
}

.f-04 {
  font-size: 1.1rem;
}

.f-06 {
  font-size: 1.3rem;
}

.f-05 {
  font-size: 1.2rem;
}

.f-07 {
  font-size: 1.4rem;
}

.f-08 {
  font-size: 1.5rem;
}

.f-2 {
  font-size: 2rem;
}

.f-w {
  font-weight: 700;
}

.f-n {
  font-weight: 400;
}

.col-f {
  color: #fff;
}

.col-3 {
  color: #333;
}

.col-6 {
  color: #666;
}

.col-7 {
  color: #777;
}

.col-8 {
  color: #888;
}

.col-9 {
  color: #999;
}

.col-m {
  color: #ff495e !important;
}

.col-s {
  color: #be0117 !important;
}

.b-color {
  background: #ec5151;
}

.b-color-f {
  background: #fff;
}

.b-color-1 {
  background: #e3e5e9;
}

.b-color-fa {
  background: #fafafa;
}
.bg-ff495e {
	background-color: #ff495e;
	color: #ffffff;
}

.icon-msnui-rightmini {
  color: #c8c8cd;
}

.padding-right-0 {
	padding-right: 0;
}

.padding-bottom-0 {
	padding-bottom: 0;
}

.padding-left-0 {
	padding-left: 0;
}

.padding-top-0 {
	padding-top: 0;
}

.padding-box {
  padding: 0 12px;
}

.padding-mr {
  padding: 1.3rem 1.3rem 0 1.3rem;
}

.padding-t-1 {
  padding: 1.3rem 0 0 0;
}

.padding-t {
  padding: 0.8rem 1rem 1rem 1rem;
}

.padding-t-2 {
  padding: 0 1rem 1rem 1rem;
}

.pl-12 {
  padding-left: 12rpx;
}

.pr-12 {
  padding-right: 12rpx;
}

.pr-6 {
  padding-right: 6rpx;
}

.m-top4 {
  margin-top: 4rpx;
}

.m-top10 {
  margin-top: 10rpx;
}

.m-top20 {
  margin-top: 25rpx;
}

.p-top20 {
  padding-top: 20rpx !important;
}

.p-bottom {
  padding-bottom: 100rpx;
}

.padding-b-115{
  padding-bottom:115rpx;
}

.wh100 {
  width: 100%;
  height: 100%;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.hidden {
  display: none;
}

.onelist-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.twolist-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.b-r {
  border-right: 1rpx solid #eee;
}

.b-b {
  border-bottom: 1rpx solid #eee;
}

.b-t {
  border-top: 1rpx solid #eee;
}

.ts-1 {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.ts-2 {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.ts-3 {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.ts-5 {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.text-del {
	text-decoration: line-through;
}

.text-line2cut {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.cu-form-group .arrow {
	flex: 1;
	padding-right: 40upx;
	overflow: hidden;
	position: relative;
}

.cu-form-group .arrow > view {
	line-height: 100upx;
	font-size: 28upx;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	text-align: right;
}

.cu-form-group .arrow::after {
	font-family: icon;
	display: block;
	content: "\e6a3";
	position: absolute;
	font-size: 34upx;
	color: #8799a3;
	line-height: 100upx;
	width: 60upx;
	text-align: center;
	top: 0;
	bottom: 0;
	right: -20upx;
	margin: auto;
}


.grid.grid-square>view.bg-img video {
	width: 100%;
	height: 100%;
	position: absolute;
}

.grid.col-1.grid-square>navigator {
	padding-bottom: 100%;
	height: 0;
	margin-right: 0;
}

.grid.col-2.grid-square>navigator {
	padding-bottom: calc((100% - 20upx)/2);
	height: 0;
	width: calc((100% - 20upx)/2);
}

.grid.col-3.grid-square>navigator {
	padding-bottom: calc((100% - 40upx)/3);
	height: 0;
	width: calc((100% - 40upx)/3);
}

.grid.col-4.grid-square>navigator {
	padding-bottom: calc((100% - 60upx)/4);
	height: 0;
	width: calc((100% - 60upx)/4);
}

.grid.col-5.grid-square>navigator {
	padding-bottom: calc((100% - 80upx)/5);
	height: 0;
	width: calc((100% - 80upx)/5);
}

.grid.col-1>navigator {
	width: 100%;
}

.grid.col-2>navigator {
	width: 50%;
}

.grid.col-3>navigator {
	width: 33.33%;
}

.grid.col-4>navigator {
	width: 25%;
}

.grid.col-5>navigator {
	width: 20%;
}

/* ==================
          标题
 ==================== */
.cu-title.center-title {
	text-align: center;
}

.cu-title.center-title .text-xl {
	position: relative;
	display: inline-block;
	padding: 0 30upx;
}

.cu-title.center-title .text-xl::after,
.cu-title.center-title .text-xl::before {
	content: "";
	display: block;
	position: absolute;
	width: 40%;
	height: 1upx;
	background-color: #333;
	left: -40%;
	right: auto;
	top: 0;
	bottom: 0;
	margin: auto;
}

.cu-title.center-title .text-xl::before {
	left: auto;
	right: -40%;
}
